build/classes/.netbeans_automatic_build
build/classes/.netbeans_update_resources
build/classes/archivos/Archivo.class
build/classes/archivos/XArchivo.class
build/classes/botones/actualizar.png
build/classes/botones/add.png
build/classes/botones/atencion-al-cliente.png
build/classes/botones/colgar.png
build/classes/botones/database_search.png
build/classes/botones/escoba.png
build/classes/botones/flecha-correcta.png
build/classes/botones/folder_edit.png
build/classes/botones/llamar.png
build/classes/botones/page_down.png
build/classes/botones/page.png
build/classes/botones/remove.png
build/classes/botones/search.png
build/classes/clases/Contacto.class
build/classes/clases/FormularioContacto.class
build/classes/clases/FormularioContacto.form
build/classes/clases/FormularioContacto$1.class
build/classes/clases/FormularioContacto$2.class
build/classes/clases/FormularioContacto$3.class
build/classes/clases/FormularioContacto$4.class
build/classes/clases/FormularioContacto$5.class
build/classes/clases/FormularioContacto$6.class
build/classes/clases/FormularioContacto$7.class
build/classes/clases/FormularioContacto$8.class
build/classes/clases/FormularioContacto$9.class
build/classes/clases/FormularioContacto$10.class
build/classes/clases/FormularioContacto$11.class
build/classes/clases/FormularioContacto$12.class
build/classes/clases/FormularioContacto$13.class
build/classes/clases/FormularioContacto$14.class
build/classes/clases/FormularioContacto$15.class
build/classes/clases/FormularioContacto$16.class
build/classes/clases/FormularioContacto$17.class
build/classes/clases/FormularioContacto$18.class
build/classes/clases/FormularioContacto$19.class
build/classes/clases/FormularioContacto$20.class
build/classes/clases/FormularioContacto$21.class
build/classes/clases/FormularioContacto$22.class
build/classes/clases/Libreta.class
